@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply scrollbar-none
}

.autolinks {
    @apply hidden hover:inline-flex px-2 text-primario dark:text-secundario
}

.card-image {
    position: absolute !important;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    width: 100%;
    max-height: 90%;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.5), 0 4px 6px -4px rgb(0 0 0 / 0.5);
}